body{
    background: url(varmehjerter.jpg) no-repeat center center fixed; background-size: cover; 
    background-position: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #323232;
    margin: 0%;
    padding: 0%;
}

.navbar {
    overflow: hidden;
    background-color: #6f2828 ;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
  }
  
  .ommeg a {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 30px 60px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 30px 60px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9f3939;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }